@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme-dark {
    --color-background-primary: #1a202c;
    --color-background-secondary: #2d3748;
    --color-background-tertiary: #4a5568;

    --color-text-primary: white;
    --color-text-secondary: #718096;
    --color-text-tertiary: #cbd5e0;
  }

  .theme-light {
    --color-background-primary: #c4c9d6;
    --color-background-secondary: #2d3748;
    --color-background-tertiary: #4a5568;

    --color-text-primary: black;
    --color-text-secondary: #718096;
    --color-text-tertiary: #cbd5e0;
  }

  .theme-custom {
    --color-text-custom: #f5f5f5;
    --color-background-custom: #1a202c;
  }

  html {
    font-size: 16px;
  }
  body {
    font-family: 'Roboto';
    color: var(--color-text-primary);
    background-color: var(--color-background-primary);
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

@layer components {
}

@layer utilities {
  .display-none {
    display: none;
  }
}
